/** 
 * ===================================================================
 * information section
 *
 * ------------------------------------------------------------------- 
 */

#information {
	background: #EEE;
	padding-top: 12rem;
	padding-bottom: 15rem;
	overflow: hidden;
}

#information .section-intro {
  max-width: 1000px;
}

#information .bgrid p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.information-content {
	position: relative;
	text-align: center;
}
.information-content .right-side,
.information-content .left-side,
.information-content .image-part {
	width: 33.33333%;
	font-size: 15px;
	line-height: 27px;
}
.information-content .right-side, .information-content .left-side {
	padding: 0 6% 24px;
	position: absolute;
	top: 0;
}
.information-content .right-side {
	right: 0;
}
.information-content .left-side {
	left: 0;
}
.information-content .image-part {
	margin: 0 auto;
	height: 660px;
	background-image: url("../images/appdesign.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}
.information-content .item[data-item]::before {
	background: #38424e;
	color: #FFFFFF;
	border-radius: 100%;
	font-family: "montserrat-bold", sans-serif;
	content: attr(data-item);
	display: inline-block;
	font-size: 18px;
	height: 42px;
	width: 42px;
	line-height: 42px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 1.5rem;
}
.information-content h5 {
	color: #05bca9;
	font-size: 1.6rem;
	line-height: 1.875;
	letter-spacing: .2rem;
	margin-bottom: .3rem;
}

/**
 * responsive:
 * information
 * -
 */

@media only screen and (max-width:1024px) {
	.information-content .right-side, .information-content .left-side {
		padding: 0 3% 24px;
		width: 35%;
	}
	.information-content .image-part {
		height: 600px;
		width: 30%;
	}
}
@media only screen and (max-width:768px) {
	#information {
		padding-bottom: 27rem;
	}
	.information-content .right-side, .information-content .left-side {
		position: static;
		width: 100%;
		max-width: 480px;
		font-size: 1.6rem;
		line-height: 3rem;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 0;
	}
	.information-content .image-part {
		width: 300px;
		position: absolute;
		bottom: -630px;
		left: 50%;
		margin-left: -150px;
	}
}
@media only screen and (max-width:400px) {
	#information {
		padding-bottom: 21rem;
	}
	.information-content .image-part {
		width: 230px;
		bottom: -540px;
		margin-left: -115px;
	}
}

/** 
 * ===================================================================
 * mission section
 *
 * ------------------------------------------------------------------- 
 */

#mission {
  background: #090909 url(../images/mission-bg.png) no-repeat center;
  background-size: cover;
	padding-top: 12rem;
  padding-bottom: 9.6rem;
  color: #FFF;
  position: relative;
  overflow: hidden;
}
.mission-content {
	margin-top: 6.6rem;
	max-width: 1280px;
}

#mission h1,
#mission p,
#mission h5 {
	color: #FFF!important;
}

#information .section-intro {
  max-width: 1000px;
}

/**
 * responsive:
 * mission
 * -
 */

@media only screen and (max-width:1140px) {
	.mission-content {
		max-width: 800px;
	}
}
@media only screen and (max-width:600px) {
	.mission-content {
		max-width: 420px;
	}
}

.open-text {
    display: block!important;
}

.item[data-item]::before {
  box-sizing: content-box!important;
}

.item[data-item]:hover::before {
  border: 1px solid #6AB9BD;
}

.item[data-item]:hover {
  cursor: pointer;
}

.process-selected::before,
.process-selected:hover::before {
  border: 5px solid #6AB9BD!important;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs .tab-headers {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
}

.tabs .tab-headers div {
  padding: 10px;
  font-family: "raleway-heavy";
  text-transform: uppercase;
  cursor: pointer;
  width: 33%;
}

.tabs .tab-contents {
  width: 100%;
  background-color: #FFF;
}

.tabs .tab-contents .tab {
  padding: 50px 5%;
  display: none;
}

.tabs .tab-contents .tab div:first-child {
  width: 33%;
}

.tabs .tab-contents .tab div:last-child {
  width: 66%;
}

.tabs .tab-contents .tab div p {
  padding: 20px 50px;
}

.tabs .tab-contents .tab div img {
  border-radius: 50%;
}

.tab-header--selected {
  border-bottom: 3px solid #6AB9BD!important;
  color: #6AB9BD!important;
}

.tab--selected {
  display: flex!important;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width:768px) {
	.tabs .tab-contents .tab div:first-child {
    width: 100%!important;
  }

  .tabs .tab-contents .tab div:last-child {
    width: 100%!important;
  }

  .tab--selected {
    flex-direction: column;
  }

  .tabs .tab-contents .tab div img {
    max-width: 250px;
  }

  .tabs .tab-contents .tab div p {
    padding: 20px!important;
  }
}

.testimonials-intro {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px!important;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
